/* ======= */
/* general */
/* ======= */

:root {
  --accent: #2196f3;
  --black-logo: #000000;
  --white-primary: #ffffff;
  --white-primary-opacity: rgba(255, 255, 255, 0.6);
  --white-secondary: #f5f4fa;
  --grey-primary: #757575;
  --grey-secondary: #212121;
  --grey-footer: #2f303a;
}

/* page */
body {
  color: var(--grey-primary);
}

/* delete list marks */
.list {
  list-style: none;
}

/* delete links underline */
.link {
  text-decoration: none;
}

/* sections */
.section-title {
  color: var(--grey-secondary);
}

/* ==== */
/* logo */
/* ==== */

.logo {
  color: var(--accent);
}

.logo-header {
  color: var(--black-logo);
}

.logo-footer {
  color: var(--white-primary);
}

.logo:hover,
.logo:hover > .logo-header {
  color: var(--accent);
}

/* ============== */
/* header of page */
/* ============== */

/* site nav */
.site-nav .link {
  color: var(--grey-secondary);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

/* auth nav */
.contacts-nav .link {
  color: var(--grey-primary);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent);
}

/* ============== */
/* footer of page */
/* ============== */

.footer {
  background-color: var(--grey-footer);
}

.address-nav .direction {
  color: var(--white-primary);
}

.address-nav .contacts {
  color: var(--white-primary-opacity);
}

/* ================= */
/* studio page, main */
/* ================= */

/* hero */
.hero {
  background-color: var(--grey-footer);
}

.hero-title {
  color: var(--white-primary);
}

.hero > button {
  background-color: var(--accent);
  color: var(--white-primary);
}

/* features */
.features-list .title {
  color: var(--grey-secondary);
}

/* what we do */

/* our team */
.section.team {
  background-color: var(--white-secondary);
}

.team-list .title {
  color: var(--grey-secondary);
}

/* ============== */
/* portfolio page */
/* ============== */

/* filter */
.filter button {
  background-color: var(--white-secondary);
  color: var(--grey-secondary);
}

.filter button:hover {
  background-color: var(--accent);
  color: var(--white-primary);
}

/* portfolio list */
.portfolio-list .title {
  color: var(--grey-secondary);
}

.portfolio-list p {
  color: var(--grey-primary);
}
